<ul>
<li><button type="button" class="btn  btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ASTRONOMIA</font></font></button> </li>
<li><button type="button" class="btn  btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">POSIONES</font></font></button></li>
<li><button type="button" class="btn  btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ENCATAMIENTOS</font></font></button> </li>
<li><button type="button" class="btn  btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DEFENSA A.OSCURAS</font></font></button></li>
<li><button type="button" class="btn  btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HERBOLOGIA</font></font></button> </li>
</ul>