<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ASTRONOMIA</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOMBRE</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">APELLIDO</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOTA</font></font></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HARRY</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">POTTER</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HERMIONE</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GRANGER</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RON</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">WEASLEY</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DRACO</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MALFOY</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libre</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NEVILLE</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LONGBOTTON</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CHO</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CHANG</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9</font></font></td>
      </tr>
      <tr class="table-active">
        <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Activo</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LUNA</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LOVEGOOD</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6</font></font></td>
      </tr>
